body {
    margin: 0px;
    height: 1000px;
}

.welcome-banner {
    background-image: url("Background.jpg");
    position: relative;
    width: 100vw;
    height: 100vh;
    border-bottom: 2px solid #23C9FF;
    margin: 0px;
    padding: 0px;
    background-size: cover;
}

.welcome-banner img {
    height: 80%;
    max-width: auto;
    border-radius: 50px;
    margin: 0px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    margin-left: 60%;
    padding: 0px;
}

.welcome-banner h1 {
    font-family: 'Bodoni Moda';
    font-size: 5vmax;
    font-weight: lighter;
    margin-left: 20px;
    margin-right: 20px;
}

.welcome-banner p {
    font-family: 'Bodoni Moda';
    font-size: 2vmax;
    font-weight: 1;
    line-height: 1.2;
    top: 35%;
    margin-left: 20px;
    margin-right: 20px;
}

.text-block {
    width: 25vw;
    height: 100%;
    float: left;
    background: #7371FC;
    color: #fff;
    border-left: 2px solid #000;
    opacity: 90%;
}

nav {
    display: flex;
    list-style-type: none;
    background-color: white;
    border-bottom: 2px solid #080708;
    justify-content: flex-end;
    overflow: hidden;
}

nav ul {
    display: flex;
}

nav li {
    font-family: 'Bodoni Moda';
    font-size: 2vw;
    font-weight: medium;
    color: #080708;
    text-align: center;
    display: inline;
    margin: 0px 2vw 0px 2vw;
}

nav a:hover {
    color: #FEFEFA;
    background-color: #57A773;
    display: flex;
}

nav a {
    float: left;
    display: block;
    text-align: center;
    padding-right: 14px 16px;
    color: #080708;
    text-decoration: none;
}

nav a.active {
    color: #23C9FF;
}

nav a.active:hover {
    background-color: #57A773;
    color: white;

}

.page-background {
    margin: 0px;
    padding: 0px;
    background-color: white;
    position: relative;
    border-bottom: 2px solid #7371FC;
}

.page-background img {
    width: 50%;
    height: auto;
    margin-bottom: -4px;
    padding: 0px;
}

.page-background h1 {
    font-family: 'Bodoni Moda';
    font-size: 4vw;
    font-weight: lighter;
    margin: 0px;
    margin-left: 60%;
    top: 30%;
    transform: translateY(-150%);
    position: absolute;
}

.page-background h2 {
    font-family: 'Bodoni Moda';
    font-size: 2vw;
    font-weight: lighter;
    margin: 0px;
    margin-left: 60%;
    top: 25%;
    transform: translateY(0%);
    position: absolute;
}

.page-background p {
    font-family: 'Bodoni Moda';
    font-size: 1.5vw;
    font-weight: lighter;
    margin-bottom: 0px;
    margin-left: 60%;
    margin-right: 80px;
    top: 15%;
    transform: translateY(50%);
    position: absolute;
}

.contact h2 {
    font-family: 'Bodoni Moda';
    margin: 40px 40px 0px 40px;
    color: #080708;
}

.contact p {
    font-family: 'Bodoni Moda';
    font-size: 20px;
    color: white;
    background-color: #23C9FF;
    padding: 20px;
    margin: 10px;
}

.contact a {
    text-decoration: none;
    color:white;
}

.contact a:visited {
    text-decoration: none;
    background-color: none;
}

footer {
    background-color: #23C9FF;
    margin: 0px;
    padding: 3px;
}

@media screen and (max-width: 767px) {
    nav a:not(:first-child) {display: none;}
    nav a.icon {
        float: right;
        display: block;
    }
  }