.welcome-banner {
    background-image: url("gaudi4.jpg");
    height: 300px;
    width: auto;
    background-size: cover;
}

.welcome-message {
    font-family: 'Lucida Console';
    background-color: white;
    width: 440px;
    padding: 5px;
    margin: 5px;
    opacity: .60;
    position: relative;
    display: inline-block;
}

.page-background {
    background-color:#CEDEBD;
    padding: 10px;
    width: 60%;
}

.intro {
    background-color: #dff6da;
    width: 220px;
    height: 130px;
    margin: 20px 20px 20px 20px;
    border-radius: 20px;
    display: flex;
    align-content: center;
    border-style: double;
    border-width: 3px;
    border-color: #4e793b;
}

.intro p {
    font-family: 'Courier New', Courier, monospace;
    color: #455b55;
    font-weight: medium;
    font-size: 20px;
    width: 50px;
    height: 50px;
    text-align: left;
    margin: 30px 30px 30px 0px;
    padding-left: 15px;
    display: inline-block;
}

.intro img {
    height: 110px;
    width: 100px;
    border-radius: 50px;
    box-shadow: 5px 5px 5px #455b55;
    margin: 5px;
}


nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    background-color: #4e793b;
    position: sticky;
    text-align: center;
}

nav li {
    font-family: 'Lucida Console';
    font-size: 30px;
    font-weight: medium;
    color: white;
    text-align: center;
    display: inline;
    margin: 20px;
}

nav a:hover {
    color: #455b55;
    background-color: #dff6da;
}

nav a {
    display: inline-block;
    padding: 8px;
    color: white;
    text-decoration: none;
}

h1 {
    font-family: 'Lucida Console';
    margin: 40px 40px 40px 40px;
    color: #455b55;
}

.about-me h2 {
    font-family: 'Lucida Console';
    margin: 40px 40px 0px 40px;
    color: #455b55;
}

.about-me p {
    font-family: 'Courier New', Courier, monospace;
    color: #455b55;
    background-color: #dff6da;
    padding: 20px;
    margin: 10px;
    width: 50%;
    border-radius: 20px;
    border-style: double;
    border-width: 3px;
    border-color: #4e793b;
}

.about-me img {
    width: 400px;
    height: auto;
    align-items: center;
    margin: 40px 30px 10px 30px;
    box-shadow: 5px 5px 5px #455b55;
}

.about-me ul {
    font-family: 'Courier New', Courier, monospace;
    color: #455b55;
    background-color: #dff6da;
    padding: 20px;
    margin: 10px;
    width: 20%;
    border-radius: 20px;
    list-style-type: circle;
    border-style: double;
    border-width: 3px;
    border-color: #4e793b;
}

figcaption {
    font-family: 'Courier New', Courier, monospace;
    color:#455b55;
    margin: 0px 30px 30px 30px;
    width: 400px;
}

.contact h2 {
    font-family: 'Lucida Console';
    margin: 40px 40px 0px 40px;
    color: #455b55;
}

.contact p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: #455b55;
    background-color: #dff6da;
    padding: 20px;
    margin: 10px;
    width: 100px;
    border-radius: 20px;
    border-style: double;
    border-width: 3px;
    border-color: #4e793b;
}

.contact a {
    text-decoration: none;
    color:#455b55;
}

.contact a:hover {
    text-decoration: none;
    color:#dff6da;
    background-color:#455b55;
    border-radius: 50px;
    padding: 0px 5px 0 5px;
}