body {
    margin: 0px;
}

.welcome-banner {
    background-image: url("gaudi4.jpg");
    height: 300px;
    width: auto;
    background-size: cover;
}

.page-background {
    background-image: linear-gradient(to bottom right,#dff6da, #4e793b);
    padding: 10px 10px;
}

nav {
    list-style-type: none;
    width: 100%;
    background-color: #4e793b;
    text-align: center;
    position: fixed;
    opacity: 90%;
}

nav li {
    font-family: 'Lucida Console';
    font-size: 20px;
    font-weight: medium;
    color: white;
    text-align: center;
    display: inline;
    margin: 20px;
}

nav a:hover {
    color: #455b55;
    background-color: #dff6da;
}

nav a {
    display: inline-block;
    padding-right: 8px;
    color: white;
    text-decoration: none;
}

h1 {
    font-family: 'Lucida Console';
    margin: 40px 40px 40px 40px;
    color: #455b55;
}

h2 {
    font-family: 'Lucida Console';
    color: #455b55;
}

h3 {
    font-family: 'Lucida Console';
    color: #455b55;
}

p {
    font-family: 'Courier New', Courier, monospace;
    color: #455b55;
    font-weight: medium;
    font-size: 18px;
}

.project-bubble img {
    width: auto;
    height: 300px;
    margin: 5px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #455b55;
}

.project-bubble {
    background-color: #FEFEFA;
    padding: 10px;
    margin: 20px;
    border-radius: 30px;
    width: 80%
}